// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

.borderless td, .borderless th {
    border: none;
}

.dotted {
    border-bottom: 2px dashed #525252;
}
.display_print {
    display: none;        
}
@media print {
    .display_print {
        display: block;
        position: fixed;
        bottom: 0;
    }
}